* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: inline-block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  scroll-behavior: smooth; /* Add this for smooth scrolling */
  overflow-x: hidden;
}

.brand-name {
  font-family: "Poppins", sans-serif;
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Bold font weight */
  color: #ff792b; /* Default color */
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
}

.container {
  padding: 10px 10%;
}

.content {
  transform: translateY(50px);
  justify-content: space-between; /* Distributes space between items */
  align-items: center;
  display: grid;
}

.content.show {
  opacity: 1;
  transform: translateY(0);
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 220px;
  margin: 20px 0;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-column p,
.footer-column ul,
.footer-column li {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #ffa500;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffa500;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 14px;
}
